@charset "UTF-8";

/* Aparelho em pé */

.section {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    min-width: 320px;
    max-width: 820px;
    margin:auto;
}

main {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0px 40px 0px 0px;
    border-radius: 5px;
    min-width: 320px;
    max-width: 820px;
    margin:auto;
    text-align: center;
    z-index: 0;
}