@charset "UTF-8";

* {
            
}
h1{
    color: white;
    text-align: center;
}

header {
    background-color: rgb(44, 67, 102);
}

a {
    text-align: center;
}

span {
    height: 25px;
    width: 25px;
    color: #333;
    background-color: rgb(224, 247, 170);
    margin-bottom: 25px;
    margin-left: 10px;
    border-radius: 10px;
}

a :hover {
    background-color: #33333369;
}
