@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header > div > h1 {
    font: normal 2em 'Permanent Marker';
    text-align: center;
    padding-bottom: 10px;
}

.container p{
    padding-top: 20px;
    margin: 10px;
    position: absolute;
    max-width: 300px;
    text-align: center;
    top: 17%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
   
 
    
}

.container  {
    background-color: rgb(240, 240, 240);
}

header {
    padding-top: 10px;
    padding-bottom: 50px;
    margin: 10px;
    background-color: rgb(163, 204, 243);
}

nav {
    padding: 10px;
    margin: 10px;
}

nav > a {
    margin: 10px;
    text-decoration: none;
    color: rgb(83, 83, 151);
}

nav a:hover {
    text-decoration: underline;
}

main > h2 {
    padding: 10px;
    margin-left: 40px;

}

div > h1 {
    margin-left: 20px;
}

main > p {
    text-align: justify;
    margin-left: 20px;
    width: 300px;

}

main > p > a {
    text-decoration: none;
    color: rgb(83, 83, 151);
    margin-left: 50px;        
}

main > p a:hover {
    text-decoration: underline;
}