@charset "UTF-8";

/* Configurações gerais */

@font-face {
    font-family: 'Love Ya Like A Sister Regular';
    font-style: normal;
    font-weight: normal;
    src: url(/site/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf), format('ttf');
    }

@font-face {
    font-family: 'Gang of Three';
    font-style: normal;
    font-weight: normal;
    src: url(/site/fonts/go3v2.ttf), format('ttf');
    }



html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(171, 169, 194);
}


.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 5vh;
    column-gap: 10px;
    row-gap: 10px;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(71, 75, 136);
}

header > h1 {
    font-family: 'Gang of Three';
    font-style: normal;
    font-weight: normal;
    color: white;
    text-align: center;
}

main {
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    grid-template-columns: subgrid;
    background-color: rgb(255, 255, 255);
    grid-auto-rows: (50px 50px);
    font-family: 'Love Ya Like A Sister Regular';
    max-width: 386px;

}

.image01 {
    display: grid;
    background-color: beige;
    text-align: center;

}

.image02 {
    display: grid;
    position: relative;
    background-color: beige;
    bottom: -10px;
    text-align: justify ;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 44px;
    background-color: rgb(55, 44, 104);
}